<!DOCTYPE html>
<html>
<head>
    <title>Proj_2 SJ Apriori Algorithm</title>
</head>
<body>

<div style="text-align: center;">

    <h2>Apriori Algorithm</h2>

    <form method="POST" enctype="multipart/form-data">
        <label>Input file:</label><br>
        <input type="file" name="input_file" required>
    
        <br><br>
    
        <label>Minimum Support:</label><br>
        <input type="number" name="min_support" value="2" required>
    
        <br><br>
    
        <button type="submit">Run Apriori</button>
    </form>
    
    {% if result %}
        <h3>Results:</h3>
        <pre>{{ result }}</pre>
    {% endif %}

</div>

</body>
</html>